/* Import Roboto font */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,500,500italic,700,700italic);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

